.menu {
	margin-bottom: 64px;
	display: flex;
	justify-content: center;
	color: #fff;
	font-size: 80px;
	font-style: oblique;
	
}

.boxes {
	display: flex;
	column-gap: 20px;
	justify-content: space-between;
}

.box {
	width: 233px;
	height: 314px;
	background-color: #000;

}
.hover {
	width: 233px;
	height: 314px;
}
body {
	background-color: #152031;
}
